# Esto es un titulo

## Esto es un subtitulo 

Explico lo que voy a hacer en esta parte del trabajo o la clase

In [1]:
print (2 + 2)
print (2 + 4)
print (2 + 5)

4
6
7

In [2]:
# Queremos daber si un numero es par, por ejemplo si el 15 es par

# // hace la division entera

15//6

# el simbolo % da el resto de la division entrea

15%6

3

In [3]:
# Vamos a hacer un codigo que se fije si un numero es par o no

numero = input()
if int(numero)%2 == 0:
    print (f'El numero {numero} es par')
else:
    print (f'El numero {numero} no es par')

 13

El numero 13 no es par

# Vamos a plantear un problema

Tenemos una base de datos y queremos generar un mensaje personalizado a cada registro informando que tienen el vencimiento de un servicio. Vamos a facalizarnos en generar el mensaje, no en enviarlo. Usamos solo 5 registros para que hacerlo a mano tenga sentido, pero la idea es automatizarlo.

# Datos

![Datos](Ejemplo_datos.png)

In [4]:
print ('Sr. Romildo Ricardo Lopez, tiene una deuda con Claro que vence el 12/03/22')

Sr. Romildo Ricardo Lopez, tiene una deuda con Claro que vence el 12/03/22

In [5]:
# Primer nivel de abstraccion

# Datos especificos
titulo = "Sr."
nombre = "Romildo"
segundo = "Ricardo"
apellido = "Lopez"
servicio = "Claro"
vencimiento = "12/03/22"

# texto que queremos armar
print (f'{titulo} {nombre} {segundo} {apellido}, tiene una deuda con {servicio} que vence el {vencimiento}')

Sr. Romildo Ricardo Lopez, tiene una deuda con Claro que vence el 12/03/22

In [6]:
def generar_mensaje(titulo, nombre, segundo, apellido, servicio, vencimiento):
    print (f'{titulo} {nombre} {segundo} {apellido}, tiene una deuda con {servicio} que vence el {vencimiento}')

In [10]:
# Persona 1
titulo = "Sr."
nombre = "Romildo"
segundo = "Ricardo"
apellido = "Lopez"
servicio = "Claro"
vencimiento = "12/03/22"

generar_mensaje(titulo,nombre,segundo,apellido, servicio, vencimiento)

# Persona 2
titulo = "Sra."
nombre = "Maria"
segundo = "Ines"
apellido = "Gonzales"
servicio = "Edenor"
vencimiento = "04/09/22"

generar_mensaje(titulo,nombre,segundo,apellido, servicio, vencimiento)

# Persona 3
titulo = "Sr."
nombre = "Danilo"
segundo = "" # No es lo mismo que None aunque tengan el mismo valor de verdad False (ahora vamos a ver porque hacemos notar esto)
apellido = "Gugiari"
servicio = "Edenor"
vencimiento = "04/09/22"

generar_mensaje(titulo,nombre,segundo,apellido, servicio, vencimiento)

Sr. Romildo Ricardo Lopez, tiene una deuda con Claro que vence el 12/03/22
Sra. Maria Ines Gonzales, tiene una deuda con Edenor que vence el 04/09/22
Sr. Danilo Gugiari, tiene una deuda con Edenor que vence el 04/09/22

In [33]:
def generar_mensaje(titulo, nombre, segundo, apellido, servicio, vencimiento):
    if segundo:
        nombre_completo = nombre + ' ' + segundo
    else:
        nombre_completo = nombre
    print (f'{titulo} {nombre_completo} {apellido}, tiene una deuda con {servicio} que vence el {vencimiento}')

Vamos a ver como hacer para no ir poniendo uno a uno los datos

In [17]:
# Carguemos todos los nombre

nombres = ["Romildo", "Maria", "Danilo", "Romina", "Micaela"] # Notar que use una "s" para indicar que son muchos (es una lista). Es muy importante usar nombres de variables que sean claros e indicativos, nunca un "pepe".

for nombre in nombres:
    print (nombre)
    
# Podemos hacer lo mismo para los segundos nombres

segundos = ["Ricardo", "Ines", "", "Camila", ""] # Es importante para preservar la consistencia de los datos poner "" donde no hay segundo nombre pero si hay un registro.

for segundo in segundos:
    print (segundo)

Romildo
Maria
Danilo
Romina
Micaela
Ricardo
Ines

Camila

In [18]:
for nombre, segundo in zip(nombres, segundos):
    print (nombre, segundo)

Romildo Ricardo
Maria Ines
Danilo
Romina Camila
Micaela

In [21]:
for segundo, nombre in zip(nombres, segundos):
    print (nombre, segundo)

Ricardo Romildo
Ines Maria
 Danilo
Camila Romina
 Micaela

In [23]:
# Vamos a hacer una funcion que salude a las personas
def mensaje_simple(nombre, segundo):
    print (f"Hola {nombre} {segundo}, tenemos un mensaje para usted pero se lo vamos a mandar en otro momento que nos cueste menos trabajo.")

for nombre, segundo in zip(nombres, segundos):
    mensaje_simple(nombre,segundo)

Hola Romildo Ricardo, tenemos un mensaje para usted pero se lo vamos a mandar en otro momento que nos cueste menos trabajo.
Hola Maria Ines, tenemos un mensaje para usted pero se lo vamos a mandar en otro momento que nos cueste menos trabajo.
Hola Danilo , tenemos un mensaje para usted pero se lo vamos a mandar en otro momento que nos cueste menos trabajo.
Hola Romina Camila, tenemos un mensaje para usted pero se lo vamos a mandar en otro momento que nos cueste menos trabajo.
Hola Micaela , tenemos un mensaje para usted pero se lo vamos a mandar en otro momento que nos cueste menos trabajo.

Podriamos seguir cargando los datos como listas, pero no es una buena idea, porque es muy poco claro al haber muchas listas que es cada lista salvo por los nombres de las variables. Hay maneras mas utiles, claras y elegantes de manipular datos con significado. Diccionarios.

In [25]:
# Cual seria la esencia de los diccionarios

persona1 = {}

persona1["nombre"] = "Romildo"
persona1["titulo"] = "Sr."
persona1['servicio'] = 'Claro'
persona1['vencimiento'] = '12/03/22'
persona1['apellido'] = 'Lopez'
persona1['segundo'] = 'Ricardo'



persona2 = {'titulo': 'Sra.', 'nombre': 'Maria', 'segundo': 'Ines', 'apellido': 'Gonzales', 'servicio': 'Edenor', 'vencimiento': '04/09/22'}

In [29]:
persona1['apellido']

print (f"Hola {persona2['titulo']} {persona2['nombre']}")
#print (f"Hola {persona2["titulo"]} {persona2["nombre"]}")

Hola Sra. Maria

In [34]:
generar_mensaje(**persona1)

Sr. Romildo Ricardo Lopez, tiene una deuda con Claro que vence el 12/03/22

A esta altura empezamos a tener mas de una funcion que nos definimos que nos pueden resultar utiles. Cuando empieza a pasar esto es buena idea separar las funciones que funcionan (que ya probamos y hacen lo que queremos) del cuerpo del codigo donde probamos cosas o procesamos los datos.

Para eso vamos a crear un archivo mensajes.py (el nombre es arbitrario pero es importante que sea .py) con el siguiente codigo:

```
def generar_mensaje(titulo, nombre, segundo, apellido, servicio, vencimiento):
    if segundo: # Aca el "" tiene valor False, si hay contenido en el str entonces tiene valor True. Magias de Python que es super flexible.
        nombre_completo = nombre + " " + segundo
    else:
        nombre_completo = nombre
    print (f'{titulo} {nombre_completo} {apellido}, tiene una deuda con {servicio} que vence el {vencimiento}')


def mensaje_simple(nombre, segundo):
    print (f"Hola {nombre} {segundo}, tenemos un mensaje para usted pero se lo vamos a mandar en otro momento que nos cueste menos trabajo.")
```

In [49]:
import pandas
import utils

In [38]:
datos = pandas.read_csv("C2-Ejemplo.csv")

In [39]:
print (datos)

  Titulo   Nombre Segundo nombre  Apellido  Servicio Fecha de vencimiento
0    Sr.  Romildo        Ricardo     Lopez     Claro             12/03/22
1   Sra.    Maria           Ines  Gonzales    Edenor             04/09/22
2    Sr.   Danilo            NaN   Gugiari    Edenor             04/09/22
3   Sra.   Romina         Camila     Perez  Movistar             09/10/22
4   Sra.  Micaela            NaN     Vilas  Movistar             08/10/22

In [40]:
display (datos)

  Titulo   Nombre Segundo nombre  Apellido  Servicio Fecha de vencimiento
0    Sr.  Romildo        Ricardo     Lopez     Claro             12/03/22
1   Sra.    Maria           Ines  Gonzales    Edenor             04/09/22
2    Sr.   Danilo            NaN   Gugiari    Edenor             04/09/22
3   Sra.   Romina         Camila     Perez  Movistar             09/10/22
4   Sra.  Micaela            NaN     Vilas  Movistar             08/10/22

In [43]:
datos['Nombre']

0    Romildo
1      Maria
2     Danilo
3     Romina
4    Micaela
Name: Nombre, dtype: object

In [46]:
for index, contenido in datos.iterrows():
    print (contenido['Nombre'])

Romildo
Maria
Danilo
Romina
Micaela

In [52]:
for index, contenido in datos.iterrows():
    utils.generar_mensaje(**contenido)

Sr. Romildo Ricardo Lopez, tiene una deuda con Claro que vence el 12/03/22
Sra. Maria Ines Gonzales, tiene una deuda con Edenor que vence el 04/09/22

TypeError: can only concatenate str (not "float") to str

In [51]:
datos = datos.rename(columns = {'Titulo':'titulo','Nombre':'nombre','Segundo nombre':'segundo','Apellido':'apellido','Servicio':'servicio','Fecha de vencimiento':'vencimiento'})
display (datos)

  titulo   nombre  segundo  apellido  servicio vencimiento
0    Sr.  Romildo  Ricardo     Lopez     Claro    12/03/22
1   Sra.    Maria     Ines  Gonzales    Edenor    04/09/22
2    Sr.   Danilo      NaN   Gugiari    Edenor    04/09/22
3   Sra.   Romina   Camila     Perez  Movistar    09/10/22
4   Sra.  Micaela      NaN     Vilas  Movistar    08/10/22

In [59]:
def generar_mensaje_test(titulo, nombre, segundo, apellido, servicio, vencimiento):
    #print (segundo)
    #print (type(segundo))
    #if segundo:
    if segundo and type(segundo) == str: # Aca el "" tiene valor False, si hay contenido en el str entonces tiene valor True. Magias de Python que es super flexible.
        nombre_completo = nombre + " " + segundo
    else:
        nombre_completo = nombre
    print (f'{titulo} {nombre_completo} {apellido}, tiene una deuda con {servicio} que vence el {vencimiento}')

In [61]:
for index, hola in datos.iterrows():
    generar_mensaje_test(**hola)

Sr. Romildo Ricardo Lopez, tiene una deuda con Claro que vence el 12/03/22
Sra. Maria Ines Gonzales, tiene una deuda con Edenor que vence el 04/09/22
Sr. Danilo Gugiari, tiene una deuda con Edenor que vence el 04/09/22
Sra. Romina Camila Perez, tiene una deuda con Movistar que vence el 09/10/22
Sra. Micaela Vilas, tiene una deuda con Movistar que vence el 08/10/22